
{% load static %}
<div class="s-pagewrap">

    <div class="circles">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    
<header class="s-header">

    <div class="header-mobile">
        <span class="mobile-home-link"><a href="{% url 'index' %}">David.</a></span>
        <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
    </div>

    <div class="row wide main-nav-wrap">
        <nav class="column lg-12 main-nav">
            <ul>
                <li><a href="{% url 'index' %}" class="home-link">David.</a></li>
                <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
                <li><a href="#about" class="smoothscroll">About</a></li>
                <li><a href="#works" class="smoothscroll">Works</a></li>
                <li><a href="#contact" class="smoothscroll">Say Hello</a></li>
            </ul>
        </nav>
    </div>

</header>